absl-py==2.4.0
asgiref==3.11.1
astunparse==1.6.3
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
deepface==0.0.99
Django==6.0.2
djangorestframework==3.16.1
easyocr==1.7.2
filelock==3.29.0
fire==0.7.1
Flask==3.1.3
flask-cors==6.0.2
flatbuffers==25.12.19
fsspec==2026.4.0
gast==0.7.0
gdown==6.0.0
google-pasta==0.2.0
grpcio==1.80.0
gunicorn==26.0.0
h5py==3.14.0
idna==3.13
ImageIO==2.37.3
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
keras==3.14.0
lazy-loader==0.5
libclang==18.1.1
lightdsa==0.0.3
lightecc==0.0.6
lightphe==0.0.24
lz4==4.4.5
markdown-it-py==4.1.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
mtcnn==1.0.0
namex==0.1.0
networkx==3.6.1
ninja==1.13.0
numpy==2.4.4
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pandas==3.0.2
pillow==12.1.1
protobuf==7.34.1
pyclipper==1.4.0
Pygments==2.20.0
PySocks==1.7.1
python-bidi==0.6.9
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
PyYAML==6.0.3
RapidFuzz==3.14.5
requests==2.32.5
retina-face==0.0.17
rich==15.0.0
scikit-image==0.26.0
scipy==1.17.1
setuptools==81.0.0
shapely==2.1.2
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
sympy==1.14.0
tensorflow
termcolor==3.3.0
tf_keras==2.21.0
tifffile==2026.5.2
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
Werkzeug==3.1.8
wheel==0.47.0
wrapt==2.1.2
